#main {
  font-family: "Proxima Nova Soft";
}

body {
  background-color: #e2ded9;
}

.box {
  user-select: none;
  width: 200px;
  height: 20px;
  background-color: burlywood;
  border-radius: 7px;
  margin-bottom: 3px;
  box-sizing: border-box;
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  color: white;
  padding: 2px 7px;
  font-weight: 900;
  position: relative;
  font-size: 13px;
  transition: 0.3s ease-in-out background-color, 0.5s ease-in-out height;
}

.box-active {
  transition: 0.3s ease-in-out;
  border-left: 5px solid rgb(0, 0, 0);
  background-color: white !important;
  color: black;
}

.box-time-length {
  font-size: 12px;
  position: absolute;
  bottom: 2px;
  right: 5px;
  pointer-events: none; /* https://stackoverflow.com/questions/18083061/make-element-unclickable-click-things-behind-it */
  font-weight: 100;
}
.box-time {
  font-size: 12px;
  position: absolute;
  bottom: 2px;
  left: 5px;
  pointer-events: none; /* https://stackoverflow.com/questions/18083061/make-element-unclickable-click-things-behind-it */
  font-weight: 100;
}

#planned-day,
#actual-day {
  background-color: #94c8d1;
  border-radius: 5px;
}

#planned-day > span,
#actual-day > span {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 900;
  color: white;
}

.day-overview {
  background-color: rgb(255, 142, 142);
  height: 150px;
}

.ns-resize {
  cursor: ns-resize;
}

/* Context-Menu */
.custom-context-menu {
  position: fixed;
  z-index: 10;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option {
  cursor: pointer;

  padding: 5px 30px;
}

.option:first-child {
  border-radius: 5px 5px 0px 0px;
}
.option:last-child {
  border-radius: 0px 0px 5px 5px;
}

.option:hover {
  background: rgb(230, 230, 230);
}

/* main */
#main {
  display: flex;
  box-sizing: border-box;
  padding: 20px 50px;
}

#main > div {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-right: 50px;
}

#left-content {
  width: 450px;
}

#right-content {
  background-color: #d4d4d4;
  height: 100px;
  width: 65%;
}

#change-color {
  display: block;
  width: 100%;
}

#change-color > options::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
}

/* input fields */

label {
  display: block;
  color: #424242;
  font-size: 15px;
}

input {
  border: 1px solid rgb(161, 161, 161);
  border-radius: 3px;
  margin: 0 5px;
}

/* button */

button {
  background-color: rgb(212, 212, 45);
  border: none;
  padding: 3px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
}

.box:hover {
  opacity: 0.6;
}

.box-violet {
  background-color: palevioletred;
}
.box-orange {
  background-color: goldenrod;
}
.box-teal {
  background-color: teal;
}
.box-green {
  background-color: #8ed385;
}
.box-gray {
  background-color: gainsboro;
}
.box-blue {
  background-color: rgb(122, 178, 197);
}
.box-red {
  background-color: lightcoral;
}
.box-yellow {
  background-color: #fedb00;
}
.box-purple {
  background-color: #d078ff;
}

.tasks-overview {
}

.task {
  background-color: #8ed385;
  padding: 2px 5px;
  border-radius: 5px;
  margin-bottom: 2px;
  position: relative;
}

.task > span {
  position: absolute;
  right: 5px;
  top: 1px;
  cursor: pointer;
}
#tasks {
  box-sizing: border-box;
  padding: 0px;
  background-color: #94c8d1;
  padding: 10px;
  border-radius: 10px;
}
