#box {
  width: 150px;
  height: 30px;
  background-color: burlywood;
  border-radius: 7px;
}

.box {
  width: 150px;
  height: 30px;
  background-color: burlywood;
  border-radius: 7px;
  margin-bottom: 3px;
  box-sizing: border-box;
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  color: white;
  padding: 0px 7px;
  font-family: "Proxima Nova Soft";
  font-weight: 900;
}

.box:hover {
  opacity: 0.6;
}

.box-violet {
  background-color: palevioletred;
}
.box-orange {
  background-color: goldenrod;
}
.box-teal {
  background-color: teal;
}
.box-green {
  background-color: olivedrab;
}

#box-holder {
  display: inline-block;
}

.ns-resize {
  cursor: ns-resize;
}

#timeline {
  position: absolute;
  top: 7px;
  z-index: -1;
  height: calc(30px * 25);
  width: 99vw;
  background-color: rgb(150, 150, 150);
  background-image: repeating-linear-gradient(
    180deg,
    #f1f1f1,
    #f1f1f1 2px,
    #ffffff 2px,
    #ffffff 32px
  );
}

/* Context-Menu */
.custom-context-menu {
  position: fixed;
  z-index: 10;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option {
  cursor: pointer;

  padding: 5px 30px;
}

.option:first-child {
  border-radius: 5px 5px 0px 0px;
}
.option:last-child {
  border-radius: 0px 0px 5px 5px;
}

.option:hover {
  background: rgb(230, 230, 230);
}
