* {
  font-family: "Proxima Nova Soft";
}

#box {
  width: 150px;
  height: 30px;
  background-color: burlywood;
  border-radius: 7px;
}

.box {
  width: 150px;
  height: 30px;
  background-color: burlywood;
  border-radius: 7px;
  margin-bottom: 3px;
  box-sizing: border-box;
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  color: white;
  padding: 3px 7px;
  font-weight: 900;
  position: relative;
}

.box > span {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  pointer-events: none; /* https://stackoverflow.com/questions/18083061/make-element-unclickable-click-things-behind-it */
}

.box:hover {
  opacity: 0.6;
}

.box-violet {
  background-color: palevioletred;
}
.box-orange {
  background-color: goldenrod;
}
.box-teal {
  background-color: teal;
}
.box-green {
  background-color: olivedrab;
}

#box-holder {
  display: inline-block;
}

.ns-resize {
  cursor: ns-resize;
}

#timeline {
  position: absolute;
  top: 7px;
  z-index: -1;
  height: calc(30px * 25);
  width: 99vw;
  background-color: rgb(150, 150, 150);
  background-image: repeating-linear-gradient(
    180deg,
    #f1f1f1,
    #f1f1f1 2px,
    #ffffff 2px,
    #ffffff 32px
  );
}

/* Context-Menu */
.custom-context-menu {
  position: fixed;
  z-index: 10;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option {
  cursor: pointer;

  padding: 5px 30px;
}

.option:first-child {
  border-radius: 5px 5px 0px 0px;
}
.option:last-child {
  border-radius: 0px 0px 5px 5px;
}

.option:hover {
  background: rgb(230, 230, 230);
}

/* main */
#main {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 50px;
}

#main > div {
  background-color: #e0e0e0;

  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  height: 850px;
}

#left-content {
  width: 400px;
}

#right-content {
  background-color: #d4d4d4;
  height: 100px;
  width: 75%;
}

/* input fields */

label {
  display: block;
  color: #424242;
  font-size: 15px;
}

input {
  border: 1px solid rgb(161, 161, 161);
  border-radius: 3px;
  padding: 10px;
}

/* button */

button {
  background-color: rgb(212, 212, 45);
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 0px 10px;
  cursor: pointer;
  font-weight: 900;
}
